@charset "UTF-8";

@import "../../scss/helpers/mixins/breakpoints";

.Portfolio {
  .SectionHeading {
    background-image: url("../../assets/images/sections/Portfolio/bg.png");
  }

  .grid-container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(7, 1fr);
    }

    .SingleProject {
      border: 0;
      outline: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      &::before {
        position: relative;
        content: "";
        height: 0;
        display: inline-block;
        padding-top: 100%;
        width: 1px;
      }

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(100%);

      transition: filter 300ms ease;
      &:hover,
      &:focus {
        cursor: pointer;
        filter: none;

        .SingleProject__content {
          text-decoration: none;
          border: 2px solid white;

          * {
            opacity: 1;
            text-decoration: none;
          }
        }
      }

      backface-visibility: hidden;

      &__content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        &__eye {
          width: 23px;
          height: 23px;
          border: solid 2px white;
          border-radius: 75% 15%;
          position: relative;
          transform: rotate(45deg);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);

          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border: solid 2px white;
            border-radius: 50%;
            left: 6px;
            top: 6px;
            box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
              0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
          }
        }

        &__heading {
          color: white;
          text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
            0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
          font-weight: 700;
          font-size: 15px;
          @include media-breakpoint-up(md) {
            font-size: 24px;
          }
          @include media-breakpoint-up(lg) {
            font-size: 28px;
          }
        }

        transition: all 300ms ease;
        * {
          opacity: 0;
          transition: opacity 300ms ease;
        }

        backface-visibility: hidden;
      }
    }
  }
}
