@charset "UTF-8";

////
/// This stylesheet contains the most holistic and general styles that are present on the TOP DESIGNERS web app.
///
/// @author Stanisław Gregor <gregor.stanislaw@hotmail.com>
////

#root {
  &,
  & > div {
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    font-family: "Quicksand";
  }
}
