@charset "UTF-8";

////
/// This SCSS stylesheet is being loaded with the Hero component.
///
/// @author Stanisław Gregor <gregor.stanislaw@hotmail.com>
////

@import "../../scss/helpers/mixins/breakpoints";

.Hero {
  // Handle the fixed Navbar.
  margin-top: 50px;
  @include media-breakpoint-up(sm) {
    margin-top: 70px;
  }

  // Add space around the DSGNHeading.
  .DSGNHeading {
    margin-top: 150px;
    margin-bottom: 30px;

    &__top-line,
    &__bottom-line {
      color: #ffffff;
      font-family: "Quicksand";
      text-align: center;
    }

    &__top-line {
      font-size: 24px;
      font-weight: 300;
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
    }

    &__bottom-line {
      font-size: 56px;
      font-weight: 700;
      @include media-breakpoint-up(md) {
        font-size: 72px;
      }
    }
  }

  // Add space between the CTA button and the CTS (call-to-scroll).
  .cta {
    margin-bottom: 100px;
  }
}
