@charset "UTF-8";

////
/// This SCSS stylesheet is being loaded with the Hero component.
///
/// @author Stanisław Gregor <gregor.stanislaw@hotmail.com>
////

@import "../../scss/helpers/mixins/breakpoints";

.Hero {
  // Handle the fixed Navbar.
  margin-top: 50px;
  @include media-breakpoint-up(sm) {
    margin-top: 70px;
  }

  // Add background image.
  background-image: url("../../assets/images/sections/Hero/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .DSGNHeading {
    // Add space around the DSGNHeading.
    margin-top: 150px;
    margin-bottom: 30px;

    // Style the text.
    &__top-line,
    &__bottom-line {
      color: #ffffff;
      font-family: "Quicksand";
      text-align: center;
    }

    &__top-line {
      .copy {
        font-size: 18px;
        font-weight: 300;
        @include media-breakpoint-up(md) {
          font-size: 30px;
        }
      }
    }

    &__bottom-line {
      h1 {
        font-size: 36px;
        font-weight: 700;
        @include media-breakpoint-up(md) {
          font-size: 72px;
        }
      }
    }
  }

  .cta {
    // Add space between the CTA button and the CTS (call-to-scroll).
    margin-bottom: 100px;

    // Style the button
    font-size: 14px;
    color: #ffffff;
    font-family: "Quicksand";
    font-weight: 400;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 5px 20px;
    line-height: 1;

    // Create the pill-like shape.
    border-radius: 100px;
  }
}
