@charset "UTF-8";

@import "../../scss/helpers/mixins/breakpoints";

.SinglePerson {
  > .col-12:nth-child(2) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    // Reveal the background photo on mobile.
    // It is initially hidden due to the lack of any content.
    @include media-breakpoint-down(lg) {
      padding-top: 50%;
    }
  }
}
