@charset "UTF-8";

////
/// This SCSS stylesheet is being loaded with the Navbar component.
///
/// Table of contents:
/// 1. Mobile version (#mobile).
/// 1.1. Collapsed content (menu-content) (#collapse).
/// 1.2. Position on the screen (#position).
///
/// @author Stanisław Gregor <gregor.stanislaw@hotmail.com>
////

.Navbar {
  /* 1. Mobile version (#mobile).
    =========================================================== */
  &--mobile {
    // TMP
    background-color: white;

    /* 1.1. Collapsed content (menu-content) (#collapse).
    =========================================================== */
    .Navbar__menu-content {
      // General styles.
      ul {
        li {
          // Center the text within the menu links.
          a {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
      }

      // Collapsed state.
      overflow: hidden;
      transition: all 300ms ease;
      max-height: 0;

      // Expanded state.
      &.expanded {
        max-height: 500px;
      }
    }

    /* 1.2. Position on the screen (#position).
      =========================================================== */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    // Remove the Bootstrap's default margins for the .row.
    margin-left: 0 !important;
    margin-right: 0 !important;

    // Set the fixed height for the first two <div>s (the 2 visible all the time).
    // This declaration is obligatory to reveal the Hero component hidden by the Navbar.
    // The <div>s height is linked with the Hero's top margin.
    > div:nth-child(1),
    > div:nth-child(2) {
      height: 50px;
    }
  }
}
