@charset "UTF-8";

.SectionHeading {
  // Background image.
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .white-border {
    border: 2px solid #f9fdfc;
  }

  // Text styling.
  .DSGNHeading {
    .copy,
    .heading {
      color: white;
      line-height: 1;
    }

    .copy {
      font-size: 18px;
      font-weight: 300;
    }

    .heading {
      font-size: 48px;
      font-weight: 700;
    }
  }
}
