@charset "UTF-8";

.SectionHeading {
  // Background image.
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // Text styling.
  .DSGNHeading {
    color: white;

    .copy {
      font-size: 18px;
      font-weight: 300;
    }

    .heading {
      font-size: 48px;
      font-weight: 700;
    }
  }
}
